body {
  padding: 0;
  margin: 0;
  background-color:#002929!important;
  text-align: center!important;
}

.header {
  height:100vh;
}
/*--- navigation bar ---*/
.navbar {
  padding:0!important;
  background-color:#002929;
  opacity:.95;
}
.navbar-nav{
  background-color: #002929;
}
.navbar-brand {
  font-size: 1.6rem !important;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight:500;
}
.navbar-brand {
  padding: 0px 0px 20px 20px !important;
  padding-top: .3125rem!important;
  padding-bottom: .3125rem!important;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: rosybrown;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  padding: 0px 15px 5px 0px !important;
}
.navbar-brand img {
  width: 60px;
}

.description {
  left: 50%;
  position: relative;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #fff;
  font-size: 4rem;
}
.description h2 {
  font-size: 2rem;
  margin-block-start: 0px;
  color: rosybrown;
  padding-bottom: 20px;
}
/*bouceIn - Intro */
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
h1 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

/*Projects */
#projects h3 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  color: #fff;
}

.img-projects {
 max-width: 100%;
  height: auto;
}
#projects {
  color:#fff;
  background-color:rosybrown;

}
#projects h5 {
  text-align:center;
  text-transform: uppercase;
  padding:1rem;
}
#projects p {
  text-align:center;
  padding:.5rem;
  font-style: italic;
  color: #000;
  background-color:#F0F0F0;
}
#projects h4 {
  padding-top:4rem;
  text-align:center;
  text-transform: uppercase;
  font-weight: 500;
  font-size:1.3rem;
  padding-bottom:5rem;
}
#projects h5 {
  font-size:.9rem;
  padding:.5rem;
  font-weight:500;
}

#projects a {
  color: #000;
  text-decoration: none;
}

.card-body {
  border-top:1px solid #ddd;
  padding:0px!important;
}
.card-title {
  margin-top:2rem!important;
  margin-bottom:2rem!important;
}
.card {
  display:inline-block!important;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}
.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Footer */
.footer-copyright {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 0px;
  
}
.footer-logo img {
  width: 60px;
  padding-bottom: 2px;
}
.footer-copyright ul {
  list-style: none;
  font-size: 2rem;
  text-align: center;
  padding-inline-start: 0px;
}
.footer-copyright a {
  color: #fff;
}
.footer-copyright a:hover {
  color:rosybrown;
}

.fab, .far{
  padding:1rem!important;
}
ul {
  margin-bottom:.5rem!important;
  margin-top:.5rem!important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fff;
  color: rosybrown;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 25px;
}

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: relative;
    top: 30%;
    transform: none;
    text-align: center;
  }

  .description h1 {
    font-size: 2em;
  }
  .grid-container {
    grid-template-columns:auto;
  }
  .navbar-brand {
    padding-top:0;
    padding-bottom: .3125rem!important;
  }
}


@media (max-width: 767px) {
.navbar-nav{
  padding:1rem!important;
}
}
