body {
  padding: 0;
  margin: 0;
  background: #fff;
}
/*--- navigation bar ---*/
.navbar-brand {
  font-size: 1.6rem !important;
  font-weight: bold;
}
.nav-link,
.navbar-brand {
  color: #9a7d0a;
  cursor: pointer;
  font-size: 1.2rem;
}
.navbar-brand {
  padding: 0px 0px 5px 0px !important;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #feccc6;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  padding: 5px 0px 0px 0px !important;
}
.navbar-brand img {
  width: 30px;
}
.header {
  background-image: linear-gradient(#fff, #f7e7ce);
  background-size: cover;
  background-position: center;
  position: relative;
}
.description {
  left: 50%;
  position: relative;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #000000;
  font-size: 4rem;
}
.description h2 {
  font-size: 2rem;
  margin-block-start: 0px;
  color: #feccc6;
  padding-bottom: 20px;
}
/*bouceIn - Intro */
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
h1 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  border: 1px solid #6ab446;
  background: #6ab446;
  border-radius: 0;
  color: #fff;
}
.description button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}
#connect h3 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
}
.container.connect {
  text-align: center;
}
.connect ul {
  list-style: none;
  font-size: 2rem;
  text-align: center;
  padding-inline-start: 0px;
  padding-bottom: 4rem;
}
.connect a {
  color: #9a7d0a;
}
.connect a:hover {
  color: #feccc6;
}
.connect-title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
i {
  padding: 0.8%;
}
.img-circle {
  border-radius: 50%;
  padding: 1rem;
}
#contact {
  padding-bottom: 4rem;
}
#contact h3 {
  font-size: 2.5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}
.container-fluid.contact {
  text-align: center;
  background: url(/images/image-connect.jpg) no-repeat center/cover;
}
.form-group.last {
  margin-bottom: 1.5rem;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #feccc6;
  color: #9a7d0a;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 25px;
}
#myBtn:hover {
  background: #feccc6;
}

/* Footer */
.footer-copyright {
  background: #fff;
  padding: 2rem;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  line-height: 0px;
}
.footer-logo img {
  width: 20px;
  padding-bottom: 2px;
}

/* Buttons */

.btn {
  padding: 5px 20px !important;
  display: inline-block !important;
  font-size: 1.4rem !important;
  border-radius: 3px !important;
  border-color: #feccc6 !important;
  border-style: none !important;
  cursor: pointer !important;
  line-height: 1.6 !important;
}
.btn-primary {
  background-color: #feccc6 !important;
  color: #9a7d0a !important;
}
.btn-primary:hover {
  color: #9a7d0a !important;
  background-color: #feccc6 !important;
}

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: relative;
    top: 30%;
    transform: none;
    text-align: center;
  }

  .description h1 {
    font-size: 2em;
  }
}
