@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

/* CSS Variables */

:root {
  --primary-color: #FECCC6;
  --primary-color-hover: #fec7c6;
}

body {
    font-family: 'Kulim Park', sans-serif;
    background-color: #fff;
    margin: 0;
    color: #9A7D0A;
    line-height: 1.6;
  }

  .circular--square {
    border-radius: 50%;
    padding:20px;
  }

  a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }

  a:hover {
    color: inherit;
  }

  /* Section */
.section {
    padding: 2rem 0;
  }
  .section-head {
    font-size: 2.5rem;
    margin: 0;
  }

  #intro {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
    position: relative;
    overflow-y: hidden;
    color:#000;
    background-image: linear-gradient(#fff, #f7E7CE);
  }

  #intro .container {
    margin-top: 25vh;
  }

  #intro h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  #intro h2 {
    font-size: 2rem;
    margin-block-start: 0px;
  }

  /* Footer */
  footer .footer-bottom {
    background: #fff;
    padding: 2rem;
    color:#000;
    text-align:center;
    font-size:1.2rem;
    }

  footer a {
    color: #FECCC6;
    font-weight:bold;
  }

  footer a:hover {
    color: #FECCC6;
  }

  /* Utility Classes */
.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
  }
  
  .lead {
    font-size: 1.3rem;
  }
  
  .text-center {
    text-align: center;
  }

  /* Navigation */
  #logo {
    float: left;
    display: inline-block;
    padding: 10px 9px 10px 9px;
    font-size: 1.5rem;
    padding: 18px 2%;
    font-weight: bold;
}

  .firstName {
    color: #FECCC6;
}
.lastName {
  color: #9A7D0A;
}

#nav {
  width: 100%;
  position: fixed;
}
.nav {
float: right;
list-style: none;     
text-align: left;
margin: 0;
padding: 18px 2%;
}

.nav > li {                                                         
  display:Inline-block;
  padding: 0px 20px;                            
}

.nav > li a {                                               
   text-decoration: none;
   font-size: 1.2rem;
   padding: 5px 0px 5px 0px;
   color:  #9A7D0A;
}

.nav > li > a:hover {
   color: #000;
}

nav a#logo {
display: none;
}


 #connect {
  border-bottom: 1px solid #f0eeee;
  border-top: 1px solid #f0eeee;
      padding:8rem;
  }
  .connect ul {
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding-inline-start:0px;
  }

  .connect a {
    color:#9A7D0A;
  }

  #about {
      padding:8rem;
  }

  i {
      padding: .8%;
  }

  #contact {
    background-color: #fff;
    padding:6rem;
    background:url(../image-connect.jpg) no-repeat center/cover;
  }

  #contact p {
    margin-block-start: 3em;
    margin-block-end: 3em;
    color:#000;
    font-size: 1.8rem;
  }

  @media screen and (max-width: 580px) {
    #intro{
      height: 50vh;
    }
    #intro .container {
      margin-top: 15vh;
    }
    #intro h1 {
      font-size: 3rem;
    }
    #intro h2 {
      font-size: 1.5rem;
    }
  }

  /* Buttons */

.btn {
  padding: 10px 30px;
  color: #000;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 3px;
  border-color:#FECCC6;
}

.btn-primary {
  background-color: var(--primary-color);
  color:#9A7D0A;
}

.btn-primary:hover {
  color:#9A7D0A;
  background-color: var(--primary-color-hover);
}
.all {
  text-decoration-line: underline;
  text-decoration-color: #9A7D0A;
  text-decoration-style: wavy;
}

#connect h4 {
  color:#000;
}

/* Return to Top */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background:#9A7D0A;
  background: #9A7D0A;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #caa40d;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}


